@tailwind base;
@tailwind components;
@tailwind utilities;

/* Space before */
/* für spaces.tsconfig Einstellungen */
.frame-space-before-small {
  margin-top: 1.5rem;
}
.frame-space-before-medium {
  margin-top: 2.75rem;
}
.frame-space-before-large {
  margin-top: 4rem;
}
.frame-space-before-extra-large {
  margin-top: 6rem;
}

/* Space after */
/* für spaces.tsconfig Einstellungen */
.frame-space-after-small {
  margin-bottom: 1.5rem;
}
.frame-space-after-medium {
  margin-bottom: 2.75rem;
}
.frame-space-after-large {
  margin-bottom: 4rem;
}
.frame-space-after-extra-large {
  margin-bottom: 6rem;
}

/* Columns */
/* für layout.tsconfig Einstellungen */
.frame-layout-4 .sn_text p {
  columns: 2;
  gap: 2rem;
}

.frame-layout-5 .sn_text p {
  columns: 3;
  gap: 2rem;
}

@layer base {
  h2 {
    @apply text-2xl font-bold;
  }
}
