body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Space before */
.space-before-small {
  margin-top: 1.5rem;
}
.space-before-medium {
  margin-top: 2.75rem;
}
.space-before-large {
  margin-top: 4rem;
}
.space-before-extra-large {
  margin-top: 6rem;
}

/* Space after */
.space-after-small {
  margin-bottom: 1.5rem;
}
.space-after-medium {
  margin-bottom: 2.75rem;
}
.space-after-large {
  margin-bottom: 4rem;
}
.space-after-extra-large {
  margin-bottom: 6rem;
}
